<!DOCTYPE html>
<html>
  <head>
    <title>Task 0</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola mundo</h1>
    <p>Nombre/Apellido: Carlos Solorzano</p>
    <p>Cédula: V-30.874.598</p>
    <p>Sección: 4</p>
  </body>
</html>
